@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	
}

.album-art {
	border: 2px solid red;
	float: left;
	margin: 2em;
	padding: 1em;
	width: 120px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {

}

#about-photo {
	border: 2px solid darkred;
	float: left;
	margin: 1em;
	padding: 1em;
}

#copyright {

}

#section-about, #section-discography, #section-equipment {
	border: 2px solid darkred;
	margin: 1em;
	padding: 1em;
}

#text-intro {
	background: rgb(58, 56, 56);
	border: 2px solid red;
	color: red;
	margin: 1em;
	padding: 1em;
}